<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>

    <link rel="stylesheet" type="text/css" href="profile.css">

</head>

<body>

    <main>

        <div class="header">
            <span>Profile</span>
            <a class="button" id="sign-out" href="/sign-out">Sign out</a>
        </div>
        

        <div class="profile-info">
            <p>Name : <%=user.name%></p>
            <p>Email : <%=user.email%></p>
        </div>

        <div class="buttons">

            <!-- <a id="reset-password" href="/reset-password">Change Password</a> -->

            <!-- onclick="changePassword()" -->

            <button id="reset-password" class="button" onclick="changePassword()">Change Password</button>

            <!-- <a id="sign-out" href="/sign-out">Sign out</a> -->

        </div>

        <% if (flash.error && flash.error.length > 0) { %>
            <h5>
                <%= flash.error %>
            </h5>
            <% } %>

            <% if (flash.success && flash.success.length > 0) { %>
            <h5>
                <%= flash.success %>
            </h5>
            <% } %>

        <div class="reset">

            <form id="reset-password-form" action="/update-db" method="POST">

                <span>Old password : </span>
                <input type="password" name="old_password" required>
                <span>New password : </span>
                <input type="password" name="new_password" required>
                <span>Confirm new password : </span>
                <input type="password" name="confirm_password" required>


                <% if (flash.error && flash.error.length > 0) { %>
                    <h5>
                        <%= flash.error %>
                    </h5>
                    <% } %>
    
                    <% if (flash.success && flash.success.length > 0) { %>
                    <h5>
                        <%= flash.success %>
                    </h5>
                    <% } %>



                <input class="button" id="reset-button" type="submit" value="Reset">

            </form>

        </div>



    </main>

    <script>

        function changePassword() {
            var x = document.querySelector('.reset');
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>



</body>

</html>